.git
.venv
node_modules
site
server/templates
work
.pytest_cache
__pycache__
**/__pycache__
**/*.pyc
.env
.env.*
**/.env
**/.env.*
!.env.example
*.log
**/*.log
*.sqlite
*.sqlite3
*.db
**/*.sqlite
**/*.sqlite3
**/*.db
.DS_Store
