CONTENT_LENGTH=
CONTENT_TYPE=
MAX_REVIEW_UPLOAD_MB=
NFC_ADMIN_PASSWORD_HASH=
NFC_ADMIN_SESSION_SECRET=
NFC_BROWSER_EVIDENCE=
NFC_DATABASE_URL=
NFC_ENV=
NFC_LOCAL_STORAGE_ENABLED=
NFC_LOCAL_STORAGE_PATH=
NFC_PUBLICATION_MODE=
NFC_PUBLIC_ORIGIN=
NFC_REJECTED_REVIEW_RETENTION_DAYS=
NFC_REVIEWS_ENABLED=
NFC_S3_ACCESS_KEY=
NFC_S3_BUCKET=
NFC_S3_ENDPOINT=
NFC_S3_REGION=
NFC_S3_SECRET_KEY=
NFC_TELEGRAM_ENABLED=
NFC_TEST_DATABASE_URL=
NFC_UNUSED_REVIEW_ASSET_RETENTION_DAYS=
NFC_V13_BROWSER_EVIDENCE=
PATH_INFO=
PORT=
QUERY_STRING=
REMOTE_ADDR=
REQUEST_METHOD=
